
<%= form_for :message_u, url: sending_email_receivable_path(@receivable) do |e| %>
   <p> 
      <%= e.label :subject %><br>
      <%= e.text_field :subject %>
   </p>

   <p>
       <%= e.label :content %><br>
       <%= e.text_area :content %>
   </p>

   <p>
       <%= e.submit %>
   </p>

<% end %>