<p>
  <strong>Debtor</strong>
  <%= @receivable.debtor %>
</p>

<p> 
  <strong>Email</strong>
  <%= @receivable.email %>
</p>

<p>
  <strong>In Debt</strong>
  <%= @receivable.in_debt %>
</p>

<p>
  <strong>Total Debt</strong>
  <%= @receivable.total_debt %>
</p>
<td><%= link_to 'Show all', receivables_path %></td>
